.jumbotron{
    background: #E54812;
    color: white;
    margin-top: 50px;
}
footer{
    padding: 10px 10px 0 10px;
    background:#E54812;
    margin-top: 10px;
    margin-bottom: 0px;
    color:white;
}
.card-hotel{
    flex: 2 200px;
    margin-top: 10px;
    background: aliceblue;
}
.btn-pedir{
    width: 100%;
    border-radius: 0%;
}
.a{
    color: white;
}
body{
    /*#ffffbf*/
    background: #ffffbf;
}
.iconic-btn{
    color: rgb(11, 247, 11);
}
.menu-icono{
    width: 50px;
    height: 50px;
    
}
.tab-content{
    padding-top: 5px;
}