$orange: #E54812;
$green: #29D30B;
$red: #900C3F;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
@mixin paddings($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}
.jumbotron{
    background: $orange;
    color: white;
    @include margenes(50px, 0);
}
footer{
    @include paddings(10px, 10px, 0, 10px);
    background: $orange;
    @include margenes(10px, 0);
    color:white;
}
.card-hotel{
    flex: 2 200px;
    @include margenes(10px, 0);
    background: aliceblue;
    border-color: $red;
}
.btn-pedir{
    width: 100%;
    border-radius: 0%;
}
.a{
    color: white;
}
body{
    background: #ffffbf;
}
.iconic-btn{
    color: $green;
}
.menu-icono{
    width: 50px;
    height: 50px;
    
}
.tab-content{
    @include paddings(5px, 0, 0, 0);
}