.jumbotron {
  background: #E54812;
  color: white;
  margin-top: 50px;
  margin-bottom: 0;
}

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  background: #E54812;
  margin-top: 10px;
  margin-bottom: 0;
  color: white;
}

.card-hotel {
  flex: 2 200px;
  margin-top: 10px;
  margin-bottom: 0;
  background: aliceblue;
  border-color: #900C3F;
}

.btn-pedir {
  width: 100%;
  border-radius: 0%;
}

.a {
  color: white;
}

body {
  background: #ffffbf;
}

.iconic-btn {
  color: #29D30B;
}

.menu-icono {
  width: 50px;
  height: 50px;
}

.tab-content {
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

/*# sourceMappingURL=style.css.map */
