@yellow: #E54812;
@green: #29D30B;
@red: #900C3F;
.margenes(@top, @bottom) {
  margin-top: @top;
  margin-bottom: @bottom;
}
.paddings(@top, @right, @bottom, @left) {
  padding-top: @top;
  padding-right: @right;
  padding-bottom: @bottom;
  padding-left: @left;
}
.jumbotron {
  background:@yellow;
  color: white;
.margenes(50px, 0);
}

footer {
  .paddings(10px, 10px, 0, 10px);
  background: @yellow;
  .margenes(10px, 0);
  color: white; }

.card-hotel {
  flex: 2 200px;
  .margenes(10px, 0);
  background: aliceblue;
  border-color: @red; }

.btn-pedir {
  width: 100%;
  border-radius: 0%; }

.a {
  color: white; }

body {
  background: #ffffbf; }

.iconic-btn {
  color: @green; }

.menu-icono {
  width: 50px;
  height: 50px; }

.tab-content {

  .paddings(50px, 0, 0, 0);

}
